*{ 
  margin: 0;
  padding: 0;
}
body {
  scroll-behavior:smooth;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.wather_contaner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 5px solid gray;
  border-color: transparent;
}
.first_dive {
  background: url("rany.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  color: white;
  max-height: max-content;
}
.side_bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: rgb(128 128 128 / 60%);
  background-color: transparent;
  backdrop-filter: blur(15px);
  padding: 30px;
  height: 100vh;
  border-left: 0.5px solid rgba(255, 255, 255, 0.563);
}
.country_show {
  font-size: 30px;
}
.counry_nput {
  background: none;
  height: 20px;
  border: 1px solid white;
  border-radius: 10px;
  width: 160px;
  text-align: center;
  color: white;
  font-size: 20px;
}
.counry_nput:hover {
  border: 1px solid white;
}
.serch_btn {
  font-size: 17px;
  background: none;
  border: none;
}
.serch_btn:hover {
  font-size: 20px;
}
.maintain{
  color: rgba(255, 255, 255, 0.686);
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 22px;
}
.maintainence{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.days_count{
  display: flex;
  padding-top: 10px;
  justify-content: left;
  gap: 0.4rem;
}
.days_Wheater{
  display: flex;
  flex-direction: column;
  justify-content:left;
  gap: 1rem;
}
.border{
  border-right: 1px solid rgba(255, 255, 255, 0.617);
  padding: 0 20px;

}
.min_max_temp{
  padding-left: 15px;
  font-weight: bold;
}
.only_img_bg{
  background: rgb(128 128 128 / 60%);
  backdrop-filter: blur(30);
  /* padding: 5px; */
  border-radius: 10px;
}
.condition_1,.condition_2,.condition_3,.condition_4{
  color: rgba(244, 242, 242, 0.859);
}
.maintane_temprature {
  font-size: 40px;
  color: white;
  font-weight: bolder;
}
.maintain {
  text-align: end;
}
.imge1{
  width: 41.5px;
}
.first {
  background-color: rgb(128 128 128 / 60%);
  background-color: transparent;
  backdrop-filter: blur(15px);
  text-align: center;
  padding: 10px;
  border-radius: 6%;
}
.rainy{
  background: rgba(128, 128, 128, 0.399);
  backdrop-filter: blur(30);
  border-radius: 5px;
}
.time{
  text-decoration: underline;
  text-underline-offset: 5px;
  padding-bottom:6px ;
  font-size: 14px;
  text-decoration-color:rgba(169, 163, 163, 0.575) ;
}
.temperature{
  font-weight: bolder;
}
.jsb{
  border-bottom: 1px solid rgb(10, 9, 9);
}
.position{
    position: absolute;
    bottom: 4%;
    left: 2%;
    right: 28%;
    gap: 2rem;

}
.rainy{
  width: 50px;
}
.position2{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
} 
.only_line{
  border-top: 1px solid rgba(202, 198, 198, 0.676);
  padding: 10px 0;
}
@media (min-width: 1440px){
.position2{
  gap: 2rem;
}
.maintainence{
  gap: 30px;
}
}

@media (max-width: 1024px){
  .position{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    left: 0;
  }
  .position2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wather_contaner{
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .counry_nput {
    width: 300px;
    height: 30px;
}
}

@media (max-width: 768px) {
  .wather_contaner{
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .weather-title {
      font-size: 20px;
  }
  .position{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    left: 0;
  }
  .position2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .counry_nput {
      width: 300px;
      height: 30px;
  }
}

@media (max-width: 480px) {
  .wather_contaner{
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .weather-title {
      font-size: 20px;
  }
  .position{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    left: 0;
  }
  .position2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .counry_nput {
      width: 210px;
      height: 30px;
  }
}
